# .gitattributes

# Exclude all files inside the archive folder from GitHub language statistics
archives/** linguist-vendored

# Exclude all files inside the assets folder (including subfolders) from GitHub language statistics
assets/** linguist-generated

